<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('./partials/header.ejs') -%>
	<%- include('./partials/main_nav.ejs') -%>
</head>

<style type="text/css" media="screen"> 
  body { 
      background-color: rgb(252, 242, 250); 
      text-decoration-color: rgb(255, 255, 255); 
      font-family:Geneva, Verdana, sans-serif;
  } 
</style> 


<body>
<div id="content-wrapper">
  	
    	

			<section class="about">
				<div class="container about__container--narrow">
				  <div class="page-section">
					<h2 class="page-section__title">About me!</h2>
					  <img class="page-section__title-style" src="images/title-style.png" alt="">
					  <p class="page-section__paragraph">Here you will know a little more about me! </p>
	
						<div class="col-md-8 about__content">
						  <p class="about__description">Hello, my name is Kriti!<br><br>
							I'm from New Delhi, India. I have a bachelor's in Electrical Engineering after which I worked for the mining
                            department for three years. During my work experience, I developed a keen interest in 
                            the field of software development from the healthcare technology I was working with. Currently, I'm 
                            studying Health Informatics Technology at Centennial College in Toronto, Canada. I love building things
                            and seeing them work! I also love spending my time with outdoor activities like running!
							</p>
						  <div class="row row--margin-top">
						
						  <div class="row">
							<div class="col-md-4">
							  <a class="button button--colorful button--margin" href="https://drive.google.com/file/d/1pOBXVIto29FS5ZRdGHeoUsMNGVCJM4MS/view?usp=sharing">My Resume!</a>
							</div>

							<div class="col-md-4">
							  <a class="button button--colorful button--margin" href="/contact">Feel free to contact me!</a>
							</div>

							<div class="row gutters-80">
						<div class="col-md-4">
						  <div class="about__image">
							<img src="images/about-me-image.jpeg" width= "800" height "600" alt="">
						  </div>
						</div>
						  </div>
						</div>
					  </div>
				  </div>
				</div>
			  </section>
		

</div>
</body>
</html>

<%- include('./partials/bottom_nav.ejs') -%>
<%- include('./partials/footer.ejs') -%> 