<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('./partials/header.ejs') -%>
	<%- include('./partials/main_nav.ejs') -%>
</head>

<style type="text/css" media="screen"> 
  body { 
      background-color: rgb(252, 242, 250); 
      text-decoration-color: rgb(255, 255, 255); 
      font-family:Geneva, Verdana, sans-serif;
  } 
</style> 

<body>
<div id="content-wrapper">
  	<header class="header header--bg">
    	
		
			<!-- Projects - Using services page as template -->

						<!--Projects-->
			<section class="service">
				<div class="container">
				  <div class="page-section">
					<h2 class="page-section__title">My Projects!</h2>
					<img class="page-section__title-style" src="assets/images/title-style.png" alt="">
					<p class="page-section__paragraph">Here you will find some of my projects. Take a look! </p>
					<div class="row gutters-70">
					  
						<div class="col-md-4">
						<div class="thumbnail text-center">
						  <a href="http://studentweb.cencol.ca/kvaish/Assignment2/Assignment2.html" target="blank"><img src="images/environment.jpg" alt=""></a>
						  <a href="http://studentweb.cencol.ca/kvaish/Assignment2/Assignment2.html" target="blank"><h4 class="service_single-section_title">Issues facing protected areas</h4></a>
						  <p class="service_single-section_paragraph">Issues facing protected areas website developed in HTML. </p>
						</div>
						</div>
						
					    <div class="col-md-4">
						<div class="thumbnail text-center">
						  <a href="http://studentweb.cencol.ca/kvaish/comp125/Assignment5/index.html" target="blank"><img src="images/monster.png" width="267"
                           height="200" alt=""></a>
						  <a href="http://studentweb.cencol.ca/kvaish/comp125/Assignment5/index.html" target="blank"><h4 class="service_single-section_title">Catch the monsters!</h4></a>
						  <p class="service_single-section_paragraph">Monster catching game developed in JavaScript. </p>
						</div>
						</div>
						
					    <div class="col-md-4">
						<div class="thumbnail text-center">
						  <a href="http://studentweb.cencol.ca/kvaish/Project_2/home.html" target="blank"><img src="images/building.png" alt=""></a>
						  <a href="http://studentweb.cencol.ca/kvaish/Project_2/home.html" target="blank"><h4 class="service_single-section_title">Real Estate Website</h4></a>
						  <p class="service_single-section_paragraph">Real estate Agent Portfolio Website developed in HTML. </p>
						</div>
						</div>
						
					</div>
				  </div>
				</div>
			</section>

	</header>

</div>
</body>
</html>

<%- include('./partials/bottom_nav.ejs') -%>
<%- include('./partials/footer.ejs') -%> 