<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('./partials/header.ejs') -%>
	<%- include('./partials/main_nav.ejs') -%>
</head>

<style type="text/css" media="screen"> 
  body { 
      background-color: rgb(252, 242, 250); 
      text-decoration-color: rgb(255, 255, 255); 
      font-family:Geneva, Verdana, sans-serif;
  } 
</style> 

<body>
<div id="content-wrapper">
  	<header class="header header--bg">
    	

			<section class="service">
				<div class="container">
				  <div class="page-section">
					<h2 class="page-section__title">My Services!</h2>
					<img class="page-section__title-style" src="images/title-style.png" alt="">
					<p class="page-section__paragraph">Are you looking for Software Development or Web Development? <br>You came in the right place! Check out my services! </p>
					<div class="row gutters-70">
					  
						<div class="col-md-4">
						<div class="thumbnail text-center">
						  <img src="images/code.jpeg" alt="">
						  <h4 class="service_single-section_title">Software Development</h4>
						  <p class="service_single-section_paragraph">Software Development in C# </p>
						</div>
						</div>
						
					    <div class="col-md-4">
						<div class="thumbnail text-center">
						  <img src="images/design.jpeg" alt="">
						  <h4 class="service_single-section_title">Web Development</h4>
						  <p class="service_single-section_paragraph">Web Development in HTML and JavaScript. </p>
						</div>
						</div>
						
					    <div class="col-md-4">
						<div class="thumbnail text-center">
						  <img src="images/support.jpeg" alt="">
						  <h4 class="service_single-section_title">Client Support</h4>
						  <p class="service_single-section_paragraph">Software and Hardware configurarion in person and by remote access. </p>
						</div>
						</div>
						
					</div>
				  </div>
				</div>
			</section>

	</header>

</div>
</body>
</html>

<%- include('./partials/bottom_nav.ejs') -%>
<%- include('./partials/footer.ejs') -%> 